
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
html, body {
    font-family: 'Work Sans', sans-serif; margin: 0;
}

nav {
    background: #bababa;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}


.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
/*SHAN SHAN DID THIS*/
}


a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1em .5em;
    /*REMOVE NAV*/
    /*SHAN ONLY DID INLINE BLOCK, TEST DECORATION, AND COLOR, 1EM PADDING TOP BOTTOM, .5 ON LEFT/RIGHT*/
}



a:hover {
    background: blue;
    /*REMOVE NAV*/
}


.nav-container li:nth-child(4){
/*!*    !**!SHAN SHAN DID THIS*/
/*        this allows the last flex item to be right justified*/
/*        by filling remaining space to the left of the flex item with margin*/
/*    */
    margin-right: auto;
}


.logo{
    position: absolute;
    margin-top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: Montserrat, Work Sans, sans-serif;
    font-size: 2.5em;
    padding: .2em 0;
    display: flex;
    /*align-items: flex-start;*/
}
