/*Use the existing html structure and classes to style the page to match the wireframes below. You should not modify the existing html to achieve this.*/
/*Test your results by resizing your browser window, or using chrome's mobile device emulation.*/

body {
    /*display: flex;*/
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.alert-info{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    padding: 0 5em;
    border: 1px solid lightgrey;    /*width: 50em;*/
    background-color: powderblue;
}

.alert-info > a {
    display: flex;
    align-items: center;
    justify-content: center;
    /*box-sizing: border-box;*/
    /*width: 300px;*/
    /*height: 50px;*/
    /*padding: 3px;*/
    /*border: 1px solid lightgrey;    !*width: 50em;*!*/
    /*background-color: powderblue;*/
    /*align-items: center;*/
    /*height: 50%;*/
    /*width: 75%*/
    /*justify-content: flex-end;*/
}


/*.alert-info{*/
/*    !*display: flex;*!*/
/*    box-sizing: border-box;*/
/*    width: 500px;*/
/*    height: 50px;*/
/*    padding: 30px;*/
/*    border: 1px solid lightgrey;    !*width: 50em;*!*/
/*    background-color: powderblue;*/
/*    font-size: 2em;*/
/*    !*height: 25em;*!*/
/*    align-items: center;*/
/*    !*height: 50%;*!*/
/*    !*width: 75%*!*/
/*    justify-content: flex-end;*/
/*    !*flex-wrap: wrap;*!*/
/*}*/

h1 {
    width: 300px;
    font-size: 2.5em;
    /*margin: 0;*/
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*nav*/
/*ul*/
/*nav a*/

ul {
    list-style-type:none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav {
    display: flex;
    /*justify-content: space-between;*/
}

.nav-links {
    display: flex;
    margin-left: 0;
    padding: 5px;
}

li {
    border: 1px solid blue;
    background-color: #bababa;
    font-size: 1.2em;
    /*display: inline-block;*/
    vertical-align: top;
    height: 50px;
    width: 300px;
    display: inline-block;
    list-style-type:none;
    align-items: center;
    justify-content: center;
    /*justify-content: space-around;*/
}

.li{
    justify-content: space-between;

}
.main > p {
    display: flex;
    flex-wrap: wrap;
}

.header-img {

}
