#map {
    width: 100em;
    height: 500px;
    margin: auto;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

/*.geocoder {*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    width: 50%;*/
/*    left: 50%;*/
/*    margin-left: -25%;*/
/*    top: 10px;*/
/*}*/
/*.mapboxgl-ctrl-geocoder {*/
/*    min-width: 100%;*/
}
/*#map {*/
/*    margin-top: 75px;*/
/*}*/